html {
	font-family: OpenSans;
}

a {
	color          : inherit;
	text-decoration: none;
}

img {
	display: block;
	width  : 100%;
}

body {
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;

}

.container {
	position : relative;
	z-index  : 1;
	max-width: 1200px;
	padding  : 0 15px;
	margin   : 0 auto;
}

.logo {
	width : 179px;
	height: 41px;
}

.title-aside {
	position      : relative;
	margin-bottom : 30px;
	font-size     : 14px;
	text-align    : center;
	text-transform: uppercase;
	color         : #0f0d0e;
}

.title-aside::after {
	content         : '';
	position        : absolute;
	bottom          : -10px;
	left            : 50%;
	transform       : translateX(-50%);
	width           : 66px;
	height          : 3px;
	background-color: #b59f5b;
}

.main {
	flex-grow: 1;
}

.header {
	position         : relative;
	padding          : 28px 0 125px;
	background-image : url('../images/banner-bg.jpg');
	background-repeat: no-repeat;
	background-size  : cover;
}

.header::before {
	content         : '';
	position        : absolute;
	z-index         : 0;
	top             : 0;
	right           : 0;
	bottom          : 0;
	left            : 0;
	opacity         : 0.6;
	background-color: #000000;
}

.header-top {
	display        : flex;
	justify-content: space-between;
}

.header__title {
	margin-top    : 105px;
	font-size     : 45px;
	line-height   : 75px;
	text-transform: uppercase;
	text-align    : center;
	color         : #ffffff;
}

.menu__list {
	display   : flex;
	column-gap: 35px;
}

.menu__link {
	font-size     : 13px;
	text-transform: uppercase;
	color         : #ffffff;
}

.menu__link:hover {
	border-bottom: 1px solid #ffffff;
}

.footer {
	padding-bottom: 30px;
}

.footer__top {
	padding         : 30px 0;
	background-color: #f4f7f6;
}

.footer__copy {
	padding-top: 60px;
	font-weight: 700;
	font-size  : 12px;
	line-height: 40px;
	text-align : center;
	color      : #999999;
}

.footer__social {
	display        : flex;
	justify-content: center;
	column-gap     : 30px;
}

.footer__social-link {
	height: 20px;
}

.footer__social-img {
	height: 100%;
}

.main {
	padding: 63px 0;
}

.main__inner {
	margin    : 0 auto;
	padding   : 0 15px;
	max-width : 1200px;
	display   : flex;
	column-gap: 120px;
}

.posts,
.sidebar {
	display       : flex;
	flex-direction: column;
	row-gap       : 60px;
}

.posts {
	flex-basis: 74%;
}

.sidebar {
	flex-basis: 26%;
}

.post {
	display    : flex;
	align-items: flex-start;
	column-gap : 30px;
}

.post__img {
	width: 380px;
}

.post__tags {
	display   : flex;
	flex-wrap : wrap;
	column-gap: 20px;
	row-gap   : 5px;
}

.post__tag {
	font-weight   : 700;
	font-size     : 14px;
	line-height   : 16px;
	text-transform: uppercase;
	color         : #b59f5b;
	border-bottom : 1px solid transparent;
	transition    : all 0.15s;
}

.post__tag:hover {
	border-bottom: 1px solid #b59f5b;
}

.post__title {
	margin-top    : 10px;
	margin-bottom : 30px;
	font-weight   : 700;
	font-size     : 20px;
	line-height   : 24px;
	text-transform: uppercase;
	color         : #0f0d0e;
}

.post__title-link {
	transition: all 0.15s;
}

.post__title-link:hover {
	color: #b59f5b;
}

.post-info {
	display    : flex;
	column-gap : 15px;
	font-size  : 12px;
	line-height: 14px;
	color      : #888888;
}

.post__author {
	font-weight: 700;
	color      : #000000;
}

.post__desc {
	margin-top    : 50px;
	display       : flex;
	flex-direction: column;
	row-gap       : 15px;
	font-size     : 15px;
	line-height   : 22px;
	color         : #0f0d0e;
}

.new-posts__list {
	display       : flex;
	flex-direction: column;
	row-gap       : 22px;
}

.new-posts__item {
	display    : flex;
	column-gap : 20px;
	align-items: flex-start;
}

.new-posts__img {
	width: 70px;
}

.new-posts__title {
	margin-top    : 3px;
	font-size     : 14px;
	line-height   : 18px;
	text-transform: uppercase;
}

.new-posts__date {
	font-size: 12px;
}

.new-posts__link {
	transition: all 0.15s;
}

.new-posts__link:hover {
	color: #b59f5b;
}

.form {
	display       : flex;
	flex-direction: column;
	row-gap       : 15px;
}

.form-search {
	display    : block;
	display    : flex;
	align-items: center;
}

.form__input {
	width           : 100%;
	padding         : 15px;
	border          : 1px solid #f4f7f6;
	outline         : none;
	font-size       : 13px;
	background-color: #f4f7f6;
}

.form__input:focus {
	border: 1px solid #b59f5b;
}

.form__btn {
	width           : 100%;
	padding         : 14px;
	border          : none;
	background-color: #b59f5b;
	font-size       : 14px;
	font-weight     : 700;
	text-transform  : uppercase;
	color           : #ffffff;
	cursor          : pointer;
	transition      : all 0.25s;
}

.form__btn--small {
	max-width: 50px;
}

.form__btn:hover {
	background-color: #000000;
}

.tags__list {
	display  : flex;
	flex-wrap: wrap;
	gap      : 5px;
}

.tags__item {
	padding         : 5px 10px;
	border          : 3px solid #eeeeee;
	background-color: rgba(244, 243, 241, 0.0);
	font-weight     : 700;
	font-size       : 12px;
	text-transform  : uppercase;
	color           : #0f0d0e;
	transition      : all 0.2s;
}

.tags__item:hover {
	border-color: #b59f5b;
}

.topics__item {
	display      : flex;
	font-size    : 14px;
	line-height  : 47px;
	font-weight  : 700;
	border-bottom: 1px solid #eee;
}

.topics__link {
	transition: all 0.15s;
}

.topics__link:hover {
	color: #b59f5b;
}

.topics__count {
	margin-top : 4px;
	margin-left: 5px;
	font-size  : 12px;
	line-height: 36px;
	font-weight: 700;
	color      : #b59f5b;
}