html {
	font-family: OpenSans;
}

a {
	color          : inherit;
	text-decoration: none;
}

img {
	display  : block;
	max-width: 100%;
}

body {
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;

}

.container {
	position : relative;
	z-index  : 1;
	max-width: 1200px;
	padding  : 0 15px;
	margin   : 0 auto;
}

.logo {
	width : 179px;
	height: 41px;
}

.title {
	position      : relative;
	margin-bottom : 30px;
	font-size     : 14px;
	text-align    : center;
	text-transform: uppercase;
	color         : #0f0d0e;
}

.title::after {
	content         : '';
	position        : absolute;
	bottom          : -10px;
	left            : 50%;
	transform       : translateX(-50%);
	width           : 66px;
	height          : 3px;
	background-color: #b59f5b;
}

.heading {
	display       : block;
	font-weight   : 700;
	font-size     : 20px;
	line-height   : 24px;
	text-transform: uppercase;
	color         : #0f0d0e;
	transition    : all 0.15s;
}

.heading:hover {
	color: #b59f5b;
}

.btn {
	width           : 100%;
	padding         : 14px;
	border          : none;
	background-color: #b59f5b;
	font-size       : 14px;
	font-weight     : 700;
	text-transform  : uppercase;
	color           : #ffffff;
	cursor          : pointer;
	transition      : all 0.25s;
}

.btn--small {
	max-width: 50px;
}

.btn:hover {
	background-color: #323232;
}

.tags {
	display   : flex;
	flex-wrap : wrap;
	column-gap: 20px;
	row-gap   : 5px;
}

.tag {
	font-weight   : 700;
	font-size     : 14px;
	line-height   : 16px;
	text-transform: uppercase;
	color         : #b59f5b;
	border-bottom : 1px solid transparent;
	transition    : all 0.15s;
}

.tag:hover {
	border-bottom: 1px solid #b59f5b;
}

.main {
	flex-grow: 1;
}

.header {
	position         : relative;
	padding          : 28px 0 125px;
	background-image : url('../images/banner-bg.jpg');
	background-repeat: no-repeat;
	background-size  : cover;
}

.header::before {
	content         : '';
	position        : absolute;
	z-index         : 0;
	top             : 0;
	right           : 0;
	bottom          : 0;
	left            : 0;
	opacity         : 0.6;
	background-color: #000000;
}

.header-top {
	display        : flex;
	justify-content: space-between;
}

.header__title {
	margin-top    : 105px;
	font-size     : 45px;
	line-height   : 75px;
	text-transform: uppercase;
	text-align    : center;
	color         : #ffffff;
}

.menu__list {
	display   : flex;
	column-gap: 35px;
}

.menu__link {
	font-size     : 13px;
	text-transform: uppercase;
	color         : #ffffff;
}

.menu__link:hover {
	border-bottom: 1px solid #ffffff;
}

.footer {
	padding-bottom: 30px;
}

.footer__top {
	padding         : 30px 0;
	background-color: #f4f7f6;
}

.footer__copy {
	padding-top: 60px;
	font-weight: 700;
	font-size  : 12px;
	line-height: 40px;
	text-align : center;
	color      : #999999;
}

.footer__social {
	display        : flex;
	justify-content: center;
	column-gap     : 30px;
}

.footer__social-link {
	height: 20px;
}

.footer__social-img {
	height: 100%;
}

.trends__title {
	margin-top: 60px;
	font-size : 20px;
}

.trends__list {
	display              : grid;
	grid-template-columns: repeat(4, 1fr);
	gap                  : 4px;
}

.trends__item {
	position  : relative;
	min-height: 320px;
}

.trends__item::before {
	content         : '';
	position        : absolute;
	left            : 0;
	top             : 0;
	z-index         : 1;
	width           : 100%;
	height          : 100%;
	background-color: #000000;
	opacity         : 0.6;
}

.trends__image {
	position       : absolute;
	z-index        : 0;
	height         : 100%;
	object-fit     : cover;
	object-position: center bottom;
}

.trends__content {
	position: absolute;
	z-index : 2;
	bottom  : 20px;
	padding : 40px 35px 35px;
	margin  : 0 20px;
	border  : 3px solid #b59f5b;
}

.trends__heading {
	margin-top: 10px;
	color     : #fff;
}

.main {
	padding: 63px 0;
}

.main__inner {
	margin    : 0 auto;
	padding   : 0 15px;
	max-width : 1200px;
	display   : flex;
	column-gap: 120px;
}

.posts,
.sidebar {
	display       : flex;
	flex-direction: column;
	row-gap       : 60px;
}

.sidebar {
	max-width: 270px;
	width    : 100%;
}

.post {
	display    : flex;
	align-items: flex-start;
	column-gap : 30px;
}

.posts__img {
	width: 380px;
}

.posts__heading {
	margin-top   : 10px;
	margin-bottom: 30px;
}

.post-info {
	display    : flex;
	column-gap : 15px;
	font-size  : 12px;
	line-height: 14px;
	color      : #888888;
}

.posts__author {
	font-weight: 700;
	color      : #000000;
}

.posts__desc {
	margin-top    : 40px;
	display       : flex;
	flex-direction: column;
	row-gap       : 15px;
	font-size     : 15px;
	line-height   : 22px;
	color         : #0f0d0e;
}

.new-posts__list {
	display       : flex;
	flex-direction: column;
	row-gap       : 22px;
}

.new-posts__item {
	display    : flex;
	column-gap : 20px;
	align-items: flex-start;
}

.new-posts__img {
	width: 70px;
}

.new-posts__heading {
	margin-top : 3px;
	font-size  : 14px;
	line-height: 18px;
}

.new-posts__date {
	font-size: 12px;
}


.form {
	display       : flex;
	flex-direction: column;
	row-gap       : 15px;
}

.form-search {
	display    : block;
	display    : flex;
	align-items: center;
}

.form__input {
	width           : 100%;
	padding         : 15px;
	border          : 1px solid #f4f7f6;
	outline         : none;
	font-size       : 13px;
	background-color: #f4f7f6;
}

.form__input:focus {
	border: 1px solid #b59f5b;
}

.tags-filter__list {
	display  : flex;
	flex-wrap: wrap;
	gap      : 5px;
}

.tags-filter__link {
	display         : block;
	padding         : 5px 10px;
	border          : 3px solid #eeeeee;
	background-color: rgba(244, 243, 241, 0.0);
	font-weight     : 700;
	font-size       : 12px;
	text-transform  : uppercase;
	color           : #0f0d0e;
	transition      : all 0.2s;
}

.tags-filter__link:hover {
	border-color: #b59f5b;
}

.topics__item {
	display      : flex;
	font-size    : 14px;
	line-height  : 47px;
	font-weight  : 700;
	border-bottom: 1px solid #eee;
}

.topics__link {
	transition: all 0.15s;
}

.topics__link:hover {
	color: #b59f5b;
}

.topics__count {
	margin-top : 4px;
	margin-left: 5px;
	font-size  : 12px;
	line-height: 36px;
	font-weight: 700;
	color      : #b59f5b;
}

.shop {
	padding-bottom: 65px;
}

.shop__title {
	font-size: 20px;
}

.shop__heading {
	margin-bottom: 10px;
}

.shop__inner {
	padding-top: 175px;
	display    : flex;
	flex-wrap  : wrap;
	column-gap : 65px;
	row-gap    : 175px;
}

.shop__item {
	position  : relative;
	flex-basis: 33%;
	max-width : 345px;
	padding   : 55px 26px 30px;
	border    : 3px solid #b59f5b;
}

.shop__img-box {
	position: absolute;
	z-index : -1;
	top     : -160px;
	left    : 25px;
	right   : 25px;
	height  : 200px;
}

.shop__img {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
}

.shop__desc {
	font-size  : 15px;
	line-height: 22px;
}

.shop__link {
	color: #b59f5b;
}

.shop__link:hover {
	text-decoration: underline;
}

.shop__footer {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
	margin-top     : 25px;
}

.shop__price {
	font-weight: 700;
	font-size  : 14px;
	color      : #0f0d0e;
}

.shop__price-old {
	text-decoration: line-through;
}

.shop__price-new {
	font-size: 20px;
}

.shop__btn {
	width     : 140px;
	text-align: center;
}