@media (max-width: 1200px) {
	.container {
		padding: 0 35px;
	}

	/* Header */

	.header {
		background-position: center;
	}

	.header {
		position: relative;
		z-index : 3;
	}

	.menu {
		display: none;
	}

	.menu-side {
		position        : fixed;
		top             : 0;
		left            : 0;
		bottom          : 0;
		transform       : translateX(-100%);
		display         : block;
		width           : 50%;
		padding         : 40px 0;
		background-color: #000;
		opacity         : 0.9;
		transition      : all 0.5s;
	}

	.menu-side--active {
		transform: translateX(0);
	}

	.menu-side .menu__list {
		width         : 100%;
		flex-direction: column;
		row-gap       : 20px;
	}

	.menu-side .menu__link {
		margin     : 0 auto;
		width      : 300px;
		max-width  : 100%;
		display    : block;
		font-size  : 18px;
		line-height: 3;
		text-align : center;
	}

	.menu-gamburger {
		display: flex;
	}

	.header__title {
		font-size  : 40px;
		line-height: 55px;
	}

	/* Trends */

	.trends__title {
		font-size: 18px;
	}

	.trends__list {
		grid-template-columns: 1fr 1fr;
	}

	.trends__heading {
		font-size: 17px;
	}

	/* Main */

	.main__inner {
		column-gap: 60px;
	}

	/* Shop */

	.shop__inner {
		column-gap     : 25px;
		justify-content: space-between;
	}

	.shop__item {
		flex-basis: 30%;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 770px;
		padding  : 0 35px;
	}

	.main__inner {
		column-gap: 35px;
		padding   : 0 35px;
	}

	/* Posts */

	.posts {
		row-gap: 40px;
	}

	.posts__item {
		padding-bottom: 15px;
		flex-direction: column;
		border-bottom : 4px solid #eee;
	}

	.posts__item:last-child {
		border-color: transparent;
	}

	.posts__img {
		width: 100%;
	}

	.posts__content {
		margin-top: 10px;
	}

	/* Shop */

	.shop__inner {
		column-gap     : 15px;
		justify-content: space-between;
	}

	.shop__item {
		flex-basis: 48%;
	}
}

@media (max-width: 640px) {
	.container {
		padding: 0 15px;
	}

	.heading {
		font-size  : 16px;
		line-height: 20px;
	}

	/* Header */
	.header {
		padding-top   : 225px;
		padding-bottom: 215px;
	}

	.header-top {
		justify-content: center;
	}

	.logo {
		width : 269px;
		height: 61px;
	}

	.menu-gamburger {
		right: 15px;
		top  : 30px;
	}

	.header__title {
		margin-top : 45px;
		font-size  : 26px;
		line-height: 36px;
	}

	/* Trends */

	.trends__title {
		margin-top: 40px;
		font-size : 16px;
	}

	.trends__list {
		grid-template-columns: 1fr;
		grid-auto-rows       : 240px;
	}

	.trends__item {
		min-height: auto;
	}

	.trends__content {
		left   : 15px;
		right  : 15px;
		padding: 30px 20px;
	}

	.trends__heading {
		font-size: 16px;
	}

	/* Main */

	.main {
		padding: 40px 0;
	}

	.main__inner {
		padding       : 0 15px;
		flex-direction: column;
	}

	/* Posts */

	.posts {
		row-gap: 30px;
	}

	.posts__item:last-child {
		border-color: #eee;
	}

	.posts__heading {
		margin-bottom: 20px;
	}

	.posts__desc {
		margin-top: 20px;
	}

	/* New posts */
	.new-posts {
		padding-top: 30px;
	}

	.new-posts__heading {
		font-size  : 14px;
		line-height: 18px;
	}

	/* Shop */
	.shop__inner {
		justify-content: center;
	}

	.shop__title {
		font-size: 16px;
	}

	.shop__item {
		flex-basis: 100%;
	}
}